[honeywell]
device_id = 12345
tokenfile = /path/to/file.json
client_id = <apikey> 
client_secret = <secret>
redirect_uri = <https://localhost/>
authorization_url = https://mytotalconnectcomfort.com/Auth/OAuth/Authorize
token_url = https://mytotalconnectcomfort.com/Auth/OAuth/Token

[darksky]
apikey = rfjaojo3jo2j238fjafj28302488436d
lat = 31.5418
long = -125.2341

[influxdb]
host = localhost
port = 8086
username = username
password = password
database = dbname
